<h1>All Users</h1>
<div class="container">
	<% @users.each do |u| %>
		<div class="row">
		  <h4 class="col-md-2"><%= u.full_name %></h4>
		  <p class="col-md-2"><%= u.email %></p>
		  <div class="col-md-1"><%= link_to 'show', user_path(u.id) %></div>
		  <div class="col-md-1"><%= link_to 'edit', edit_user_path(u.id) %></div>
		  <div class="col-md-1"><%= link_to 'delete', user_path(u.id), method: :delete, data: { confirm: 'are you sure?' } %></div>
		</div>
	<% end %>
</div>