<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar navbar-static-top" id="top">

		<div class="container">

			<div class="navbar-header">
				<%= link_to image_tag("pokedex_logo.jpeg"), home_path, class: 'navbar-brand' %>
			</div>
			<nav id="bs-navbar" class="navbar-collapse collapse in">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", home_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Intro to Competitive Battling", battling_intro_path %></li>
				</ul>
			</nav>

		</div>
	</header>

	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<%= message %>
			</div>
		<% end %>
	</div>

	<div class="container">
		<%= yield %>
	</div>

	<footer class="bs-docs-footer">
		<nav id="bs-navbar" class="navbar-collapse collapse in">
			<div class="container">			
				<ul class="nav navbar-nav navbar-left">
					<li><%= link_to 'About the Creator', bio_path %></li>
					<li><%= link_to "All Users", users_index_path %></li>
					<li><%= link_to "Sign up", users_new_path %></li>
				</ul>
			</div>
		</nav>
	</footer>

</body>
</html>
